[id~="background"] {
	background-color: #ccc;
	z-index: 0;
}
[id~="structures"] {
	z-index: 1;
}
[id~="characters"] {
	z-index: 2;
}

* { margin:0; padding:0; }
html, body {width:100%; height:100%;}
canvas { display:block; position: absolute; top: 0; left: 0;}